@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App .fondoDePantalla {
  width: 100%;
  height: inherit;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-filter: blur(4px) brightness(50%);
          filter: blur(4px) brightness(50%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .containerMain {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.App .containerMain .contanadorExteriorDeFormulario {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .containerMain .informacion {
  padding-top: 7%;
  width: 51%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .containerMain .informacion .errorCiudad {
  color: black;
  background-color: red;
  width: 80%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding: 2% 0;
}

.App .containerMain .informacion .iconoClima {
  font-size: 200px;
  color: #fff5dd;
  -webkit-animation: mymove infinite 10s linear;
          animation: mymove infinite 10s linear;
}

@-webkit-keyframes mymove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.App .containerMain .informacion .lugar {
  color: #fff5dd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.App .containerMain .informacion .climaActual {
  color: #fff5dd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 169px;
}

.App .containerMain .informacion .icono {
  color: #fff5dd;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  padding: 0;
}

.App .containerMain .informacion .temps {
  margin: 3% 0;
}

.App .containerMain .informacion .temps p {
  color: #fff5dd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.App .containerMain .informacion .contanadorInteriorDeFormulario {
  width: 100%;
  display: none;
}

@media screen and (max-width: 1024px) {
  .App .containerMain .contanadorExteriorDeFormulario {
    display: none;
  }
  .App .containerMain .informacion {
    padding-top: 2%;
    width: 100%;
  }
  .App .containerMain .informacion .contanadorInteriorDeFormulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .App .containerMain .contanadorExteriorDeFormulario {
    display: none;
  }
  .App .containerMain .informacion {
    padding-top: 7%;
    width: 100%;
  }
  .App .containerMain .informacion .lugar {
    font-size: 18px;
  }
  .App .containerMain .informacion .climaActual {
    font-size: 72px;
    line-height: 72px;
    padding: 0;
  }
  .App .containerMain .informacion .icono {
    font-size: 25px;
  }
  .App .containerMain .informacion .temps p {
    font-size: 18px;
  }
  .App .containerMain .informacion .contanadorInteriorDeFormulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .App {
    overflow-y: scroll;
    height: auto;
  }
  .App .fondoDePantalla {
    width: 100%;
    height: inherit;
  }
}
/*# sourceMappingURL=App.css.map */